@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

// Box sizing rules *
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin
body,
h1,
h2,
h3,
h4,
p,
figure, 
blockquote,
dl,
dd {
  margin: 0;
}

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role='list'],
ol[role='list'],
ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

// Set core root defaults
html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

// Set core body defaults
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Nunito', 'Helvetica', Arial, sans-serif;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
  @include breakpoint-down(medium) {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

body {
  @include breakpoint-down(small) {
    position: relative;
  }
}

// Set typography

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button {
  font-family: 'Nunito', 'Helvetica', Arial, sans-serif;
}

h1 {
  font-size: $font-xxlg;
  margin-bottom: 0rem;

  @include breakpoint-down(large) {
    font-size: $font-xlg;
  }
}

h3 {
  font-size: $font-xlg;

  @include breakpoint-down(medium) {
    font-size: $font-med;
  }
}
a {
  text-decoration: none;
}

button,
.button {
  position: relative;
}

// background lines
.lines {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  width: 68.75rem;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  div {
    border: 1px solid #f6f6f6;
  }
  @include breakpoint-down(medium) {
    width: 57.9rem;
  }
  @include breakpoint-down(small) {
    width: 28.9rem;
  }
}

// mobile menu
.overlaymenu {
  display: none;
  transition: all 0.5s ease-in-out;
  div,
  span {
    margin-top: 8rem;
  }
  span {
    padding-left: 1.5rem;
    top: -5rem;
    position: absolute;
    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  div ul li {
    transition: all 0.5s ease-in-out;
    display: block;
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem;
    font-size: 2.5rem;
    a {
      color: $white;
    }
  }
}

.overlaymenu.show {
  display: block;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  z-index: 1;
  right: 0rem;
  background-color: $templateBlue;
  transition: all 0.5s ease-in-out;
}
