@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

// Box sizing rules *
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role='list'],
ol[role='list'],
ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

// Set core root defaults
html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

// Set core body defaults
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Nunito', 'Helvetica', Arial, sans-serif;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
}

// Set typography

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button {
  font-family: 'Nunito', 'Helvetica', Arial, sans-serif;
}

h1 {
  font-size: $font-xxlg;
  margin-bottom: 0rem;

  @include breakpoint-down(large) {
    font-size: $font-xlg;
  }
}

a {
  text-decoration: none;
}

// Flexbox layout
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

button,
.button {
  position: relative;
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

// background lines
.lines {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  width: 68.75rem;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  div {
    border: 1px solid #f6f6f6;
  }
}
