.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 6.25rem;
  &__left {
    ul {
      display: flex;
      li a {
        text-transform: uppercase;
        padding-right: 4.375rem;
        letter-spacing: 0.187rem;
      }
      @include breakpoint-down(small) {
        display: none;
      }
    }
    span {
      display: none;
      @include breakpoint-down(small) {
        display: block;
      }
      img {
        width: 1.875rem;
        height: 1.875rem;
      }
    }
  }
  &__center {
    &-img {
      width: 3.25rem;
      height: 3.25rem;
      border-radius: 50%;
      @include breakpoint-down(small) {
        margin: auto;
      }
    }
    @include breakpoint-down(small) {
      justify-content: center;
      flex: 1;
      display: flex;
    }
  }
  &__right {
    ul {
      display: flex;
      li a {
        text-transform: uppercase;
        padding-left: 4.375rem;
      }
    }
    @include breakpoint-down(small) {
      display: none;
    }
  }
  ul li a {
    font-size: $font-xs;
    font-weight: 600;
    color: $templateBlue;
    letter-spacing: 0.187rem;
  }
}
