// Colors
$templateBlue: #007fff;
$templateYellow: #ffe300;
$darkBlack: #000;
$templateGrey: #979797;
$templateLightGrey: #bbbbbb;
$white: #ffffff;

// Font Sizes
$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-pa: 1rem; // 16px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 1.75rem; // 28px
$font-xxlg: 3rem; // 48px
