@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'],
ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 39.9375em) {
  body {
    position: relative;
  }
}

img {
  width: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Nunito', 'Helvetica', Arial, sans-serif;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button {
  font-family: 'Nunito', 'Helvetica', Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0rem;
}

@media (max-width: 68.5rem) {
  h1 {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.75rem;
}

@media (max-width: 63.9375em) {
  h3 {
    font-size: 1.125rem;
  }
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  position: relative;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.lines {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  width: 68.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lines div {
  border: 1px solid #f6f6f6;
}

@media (max-width: 63.9375em) {
  .lines {
    width: 57.9rem;
  }
}

@media (max-width: 39.9375em) {
  .lines {
    width: 28.9rem;
  }
}

.overlaymenu {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.overlaymenu div,
.overlaymenu span {
  margin-top: 8rem;
}

.overlaymenu span {
  padding-left: 1.5rem;
  top: -5rem;
  position: absolute;
}

.overlaymenu span img {
  width: 2.5rem;
  height: 2.5rem;
}

.overlaymenu div ul li {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.5rem;
  font-size: 2.5rem;
}

.overlaymenu div ul li a {
  color: #ffffff;
}

.overlaymenu.show {
  display: block;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  z-index: 1;
  right: 0rem;
  background-color: #007fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6.25rem;
}

.navbar__left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__left ul li a {
  text-transform: uppercase;
  padding-right: 4.375rem;
  letter-spacing: 0.187rem;
}

@media (max-width: 39.9375em) {
  .navbar__left ul {
    display: none;
  }
}

.navbar__left span {
  display: none;
}

@media (max-width: 39.9375em) {
  .navbar__left span {
    display: block;
  }
}

.navbar__left span img {
  width: 1.875rem;
  height: 1.875rem;
}

.navbar__center-img {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
}

@media (max-width: 39.9375em) {
  .navbar__center-img {
    margin: auto;
  }
}

@media (max-width: 39.9375em) {
  .navbar__center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__right ul li a {
  text-transform: uppercase;
  padding-left: 4.375rem;
}

@media (max-width: 39.9375em) {
  .navbar__right {
    display: none;
  }
}

.navbar ul li a {
  font-size: 0.75rem;
  font-weight: 600;
  color: #007fff;
  letter-spacing: 0.187rem;
}

.quote {
  margin-top: 7.37rem;
}

.quote__text {
  max-width: 34.375rem;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
}

.quote__text h1 {
  font-weight: 600;
}

.quote__text span {
  color: #007fff;
}

.quote__text ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 3.125rem;
}

.quote__text ul li {
  margin-right: 1.87rem;
}

.works {
  margin-top: 7.5rem;
}

.works__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 30% auto 30%;
      grid-template-rows: 30% auto 30%;
  gap: 3.75rem 3.75rem;
      grid-template-areas: 'work__grid-one works__grid-three' 'works_grid-two works__grid-three' 'works_grid-two works__grid-four';
  grid-gap: 3.75rem;
  position: relative;
}

.works__grid img {
  position: relative;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.works__grid h3 {
  font-weight: 500;
  margin-top: 1.25rem;
}

@media (max-width: 39.9375em) {
  .works__grid {
    gap: 3.75rem 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.works__heading {
  position: absolute;
  left: -7rem;
  top: 1.2rem;
  font-size: 0.75rem;
  color: #979797;
  text-transform: uppercase;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(50%, 50%) rotate(-90deg);
          transform: translate(50%, 50%) rotate(-90deg);
  letter-spacing: 0.1875rem;
}

@media (max-width: 63.9375em) {
  .works__heading {
    position: absolute;
    left: 0rem;
    top: -3rem;
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
}

.works .grid-overlay {
  position: absolute;
  left: 0rem;
  right: 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.87rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0rem;
  bottom: 0rem;
  background-color: #00000069;
  color: #ffffff;
}

.works .grid-overlay > div {
  max-width: 19.81rem;
}

.works .grid-overlay span {
  background-color: #ffe300;
  color: #000;
  border-radius: 0.31rem;
  padding: 0.12rem 0.62rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.works__grid__one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: work__grid-one;
  position: relative;
}

.works__grid__two {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: works_grid-two;
  position: relative;
}

.works__grid__three {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: works__grid-three;
  position: relative;
}

.works__grid__four {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: works__grid-four;
  position: relative;
}

section.about {
  margin-top: 7.5rem;
}

section.about .about__heading {
  position: absolute;
  left: -7rem;
  top: 1.2rem;
  font-size: 0.75rem;
  color: #979797;
  text-transform: uppercase;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(50%, 50%) rotate(-90deg);
          transform: translate(50%, 50%) rotate(-90deg);
  letter-spacing: 0.1875rem;
}

@media (max-width: 63.9375em) {
  section.about .about__heading {
    position: absolute;
    left: 0rem;
    top: -3rem;
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
}

section.about .about__logo {
  margin-top: 3.75rem;
}

section.about .about__logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.about .about__logo ul li {
  margin-right: 7.5rem;
}

@media (max-width: 39.9375em) {
  section.about .about__logo ul li {
    margin-right: 2.44rem;
  }
}

section.about .about__grid {
  display: -ms-grid;
  display: grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 3.75rem 4rem;
      grid-template-areas: 'about__grid__one about__grid__three' 'about__grid__two about__grid__four';
  position: relative;
}

section.about .about__grid h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
}

section.about .about__grid p {
  line-height: 1.875rem;
}

@media (max-width: 39.9375em) {
  section.about .about__grid {
    gap: 1.87rem 1.87rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section.about__grid__one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about__grid__one;
}

section.about__grid__two {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about__grid__two;
}

section.about__grid__three {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: about__grid__three;
}

section.about__grid__four {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: about__grid__four;
}

section.sharelink {
  margin-top: 7.5rem;
}

section.sharelink .sharelink__heading {
  position: absolute;
  left: -7rem;
  top: 1.2rem;
  font-size: 0.75rem;
  color: #979797;
  text-transform: uppercase;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(50%, 50%) rotate(-90deg);
          transform: translate(50%, 50%) rotate(-90deg);
  letter-spacing: 0.1875rem;
}

@media (max-width: 63.9375em) {
  section.sharelink .sharelink__heading {
    position: absolute;
    left: 0rem;
    top: -3rem;
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
}

section.sharelink .sharelink__grid {
  display: -ms-grid;
  display: grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 3.75rem 4rem;
      grid-template-areas: 'sharelink__grid__left sharelink__grid__right' 'sharelink__grid__left sharelink__grid__right';
  position: relative;
}

section.sharelink .sharelink__grid a {
  color: #007fff;
}

section.sharelink .sharelink__grid span {
  color: #979797;
}

@media (max-width: 39.9375em) {
  section.sharelink .sharelink__grid span {
    padding-left: 0.5rem;
  }
}

section.sharelink .sharelink__grid .sharelink__grid__left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.875rem;
}

section.sharelink .sharelink__grid .sharelink__grid__right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.875rem;
}

@media (max-width: 39.9375em) {
  section.sharelink .sharelink__grid {
    gap: 0rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section.contact {
  background-color: #ffffff;
  padding: 7.5rem 0rem;
  border-top: 1px solid #ececec;
}

@media (max-width: 39.9375em) {
  section.contact {
    padding: 3.75rem 0rem;
  }
}

section.contact .contact__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2.81rem;
      grid-template-areas: 'contact__grid__left contact__grid__right contact__grid__right contact__grid__right';
  margin-bottom: 7.5rem;
}

section.contact .contact__grid .contact__grid__right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: contact__grid__right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3.75rem;
}

section.contact .contact__grid .contact__grid__right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.contact .contact__grid .contact__grid__right form label {
  margin-bottom: 0.81rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  font-weight: 600;
  font-size: 0.75rem;
}

section.contact .contact__grid .contact__grid__right form input,
section.contact .contact__grid .contact__grid__right form textarea {
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 1px solid #b9b9b9;
}

section.contact .contact__grid .contact__grid__right form input::-webkit-input-placeholder,
section.contact .contact__grid .contact__grid__right form textarea::-webkit-input-placeholder {
  color: #bbbbbb;
  font-size: 1rem;
}

section.contact .contact__grid .contact__grid__right form input:-ms-input-placeholder,
section.contact .contact__grid .contact__grid__right form textarea:-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 1rem;
}

section.contact .contact__grid .contact__grid__right form input::-ms-input-placeholder,
section.contact .contact__grid .contact__grid__right form textarea::-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 1rem;
}

section.contact .contact__grid .contact__grid__right form input::placeholder,
section.contact .contact__grid .contact__grid__right form textarea::placeholder {
  color: #bbbbbb;
  font-size: 1rem;
}

section.contact .contact__grid .contact__grid__right form input:focus,
section.contact .contact__grid .contact__grid__right form textarea:focus {
  border: 0px;
  border-bottom: 2px solid #007fff;
  outline: none;
}

section.contact .contact__grid .contact__grid__right form input {
  height: 2.8125rem;
}

section.contact .contact__grid .contact__grid__right form textarea {
  height: 8.75rem;
}

@media (max-width: 39.9375em) {
  section.contact .contact__grid .contact__grid__right {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

section.contact .contact__grid .contact__grid__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contact__grid__left;
}

section.contact .contact__grid .contact__grid__left h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 3.75rem;
}

section.contact .contact__grid .contact__grid__left p {
  margin-bottom: 1.875rem;
  line-height: 1.875rem;
}

section.contact .contact__grid .contact__grid__left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.contact .contact__grid .contact__grid__left ul li {
  margin-right: 1.87rem;
}

@media (max-width: 39.9375em) {
  section.contact .contact__grid {
    gap: 0rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 3.75rem;
  }
}

footer {
  padding-bottom: 7.5rem;
  background-color: #ffffff;
}

footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__wrapper .footer__wrapper__left {
  font-size: 1rem;
}

footer .footer__wrapper .footer__wrapper__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 39.9375em) {
  footer .footer__wrapper .footer__wrapper__right ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer__wrapper .footer__wrapper__right ul li {
  padding-left: 3.75rem;
  color: #979797;
}

@media (max-width: 39.9375em) {
  footer .footer__wrapper .footer__wrapper__right ul li {
    padding-left: 0rem;
    display: block;
    margin-top: 0.62rem;
  }
}

@media (max-width: 39.9375em) {
  footer .footer__wrapper .footer__wrapper__right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 39.9375em) {
  footer .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 39.9375em) {
  footer {
    padding-bottom: 3.75rem;
  }
}
/*# sourceMappingURL=main.css.map */