@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'],
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Nunito', 'Helvetica', Arial, sans-serif;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button {
  font-family: 'Nunito', 'Helvetica', Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0rem;
}

@media (max-width: 68.5rem) {
  h1 {
    font-size: 1.75rem;
  }
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  position: relative;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.lines {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  width: 68.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lines div {
  border: 1px solid #f6f6f6;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6.25rem;
}

.navbar__left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__left ul li a {
  text-transform: uppercase;
  padding-right: 4.375rem;
  letter-spacing: 0.187rem;
}

.navbar__center-img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.navbar__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__right ul li a {
  text-transform: uppercase;
  padding-left: 4.375rem;
}

.navbar ul li a {
  font-size: 0.75rem;
  font-weight: 600;
  color: #007fff;
  letter-spacing: 0.187rem;
}

.quote {
  margin-top: 7.37rem;
}

.quote__text {
  max-width: 34.375rem;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
}

.quote__text h1 {
  font-weight: 600;
}

.quote__text span {
  color: #007fff;
}

.quote__text ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 3.125rem;
}

.quote__text ul li {
  margin-right: 1.87rem;
}

.works {
  position: relative;
  margin-top: 7.5rem;
}

.works__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 30% auto 30%;
      grid-template-rows: 30% auto 30%;
  gap: 3.75rem 3.75rem;
      grid-template-areas: 'work__grid-one works__grid-three' 'works_grid-two works__grid-three' 'works_grid-two works__grid-four';
  grid-gap: 3.75rem;
}

.works__grid img {
  position: relative;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.works__grid h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 1.25rem;
}

.works__heading {
  position: absolute;
  left: 11.75rem;
  top: 1.2rem;
  font-size: 0.75rem;
  color: #979797;
  text-transform: uppercase;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(50%, 50%) rotate(-90deg);
          transform: translate(50%, 50%) rotate(-90deg);
  letter-spacing: 0.1875rem;
}

.works .grid-overlay {
  position: absolute;
  left: 0rem;
  right: 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 1.87rem;
  padding-left: 1.87rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0rem;
  bottom: 0rem;
  background-color: #00000069;
  color: #ffffff;
}

.works .grid-overlay > div {
  max-width: 19.81rem;
}

.works .grid-overlay span {
  background-color: #ffe300;
  color: #000;
  border-radius: 0.31rem;
  padding: 0.12rem 0.62rem;
  font-size: 0.75rem;
}

.works__grid-one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: work__grid-one;
  position: relative;
}

.works__grid-two {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: works_grid-two;
  position: relative;
}

.works__grid-three {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: works__grid-three;
  position: relative;
}

.works__grid-four {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: works__grid-four;
  position: relative;
}

section.about {
  position: relative;
  margin-top: 7.5rem;
}

section.about .about__heading {
  position: absolute;
  left: 11.75rem;
  top: 1.2rem;
  font-size: 0.75rem;
  color: #979797;
  text-transform: uppercase;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(50%, 50%) rotate(-90deg);
          transform: translate(50%, 50%) rotate(-90deg);
  letter-spacing: 0.1875rem;
}

section.about .about__logo {
  margin-top: 3.75rem;
}

section.about .about__logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.about .about__logo ul li {
  margin-right: 7.5rem;
}

section.about .about__grid {
  display: -ms-grid;
  display: grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 3.75rem 4rem;
      grid-template-areas: 'about__grid-one about__grid-three' 'about__grid-two about__grid-four';
}

section.about .about__grid h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
}

section.about .about__grid p {
  line-height: 1.875rem;
}

section.about__grid-one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about__grid-one;
}

section.about__grid-two {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about__grid-two;
}

section.about__grid-three {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: about__grid-three;
}

section.about__grid-four {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: about__grid-four;
}

section.sharelink {
  position: relative;
  margin-top: 7.5rem;
}

section.sharelink .sharelink__heading {
  position: absolute;
  left: 11.75rem;
  top: 1.2rem;
  font-size: 0.75rem;
  color: #979797;
  text-transform: uppercase;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(50%, 50%) rotate(-90deg);
          transform: translate(50%, 50%) rotate(-90deg);
  letter-spacing: 0.1875rem;
}

section.sharelink .sharelink__grid {
  display: -ms-grid;
  display: grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 3.75rem 4rem;
      grid-template-areas: 'sharelink__grid-left sharelink__grid-right' 'sharelink__grid-left sharelink__grid-right';
}

section.sharelink .sharelink__grid a {
  color: #007fff;
}

section.sharelink .sharelink__grid span {
  color: #979797;
}

section.sharelink .sharelink__grid .sharelink__grid-left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.875rem;
}

section.sharelink .sharelink__grid .sharelink__grid-right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.875rem;
}

section.contact {
  background-color: #ffffff;
  padding: 7.5rem 0rem;
  border-top: 1px solid #ececec;
}

section.contact .contact__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2.81rem;
      grid-template-areas: 'contact__grid-left contact__grid-right contact__grid-right contact__grid-right';
  margin-bottom: 7.5rem;
}

section.contact .contact__grid .contact__grid-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: contact__grid-right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3.75rem;
}

section.contact .contact__grid .contact__grid-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.contact .contact__grid .contact__grid-right form label {
  margin-bottom: 0.81rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  font-weight: 600;
  font-size: 0.75rem;
}

section.contact .contact__grid .contact__grid-right form input,
section.contact .contact__grid .contact__grid-right form textarea {
  margin-bottom: 1.875rem;
  height: 2.8125rem;
  border: none;
  border-bottom: 1px solid #b9b9b9;
}

section.contact .contact__grid .contact__grid-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contact__grid-left;
}

section.contact .contact__grid .contact__grid-left h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 3.75rem;
}

section.contact .contact__grid .contact__grid-left p {
  margin-bottom: 1.875rem;
  line-height: 1.875rem;
}

section.contact .contact__grid .contact__grid-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.contact .contact__grid .contact__grid-left ul li {
  margin-right: 1.87rem;
}

footer {
  padding-bottom: 7.5rem;
  background-color: #ffffff;
}

footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__wrapper .footer__wrapper-left {
  font-size: 1rem;
}

footer .footer__wrapper .footer__wrapper-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__wrapper .footer__wrapper-right ul li {
  padding-left: 3.75rem;
  color: #979797;
}
/*# sourceMappingURL=main.css.map */